@(currentPage: Page[(Game, Option[Team], Option[Team])], currentOrderBy: Int)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Administrator.gameList(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy))
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>Games</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        <a class="btn success" id="add" href="@routes.Administrator.createGame()">Add a new game</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { games =>
        
        <table class="games table-striped">
            <thead>
                <tr>
                  @header(2, "Home Team")
                  @header(3, "Away Team")
                  @header(4, "Time")
                  @header(5, "Date")
                </tr>
            </thead>
            <tbody>

                @games.map { case (game, team1, team2) => 
                        <tr>
                            <td>@team1.map { t => 
                            	<a href="@routes.Administrator.editGame(game.team1Id, game.team2Id)">@t.name</a>
                            }
                            </td>
                            <td>@team2.map { t => 
                              <a href="@routes.Administrator.editGame(game.team1Id, game.team2Id)">@t.name</a>
                            }
                            </td>
                            <td>
                                @game.time
                            </td>
                	          <td>
                	              @game.gameDate
                	          </td>
                        </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + games.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            