@(currentPage: Page[Widget], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Administrator.widgetList(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    
    <h1>Widgets</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Administrator.widgetList()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by widget url...">
            <input type="submit" id="searchsubmit" value="Filter by url" class="btn primary">
        }
        
        <a class="btn success" id="add" href="@routes.Administrator.createWidget()">Add a new widget</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { widgets =>
        
        <table class="widgets table-striped">
            <thead>
                <tr>
                    @header(2, "Widget id")
                    @header(3, "Twitter Account")
                    @header(4, "URL")
                </tr>
            </thead>
            <tbody>

                @widgets.map { widget => 
                        <tr>
                            <td><a href="@routes.Administrator.editWidget(widget.id)">@widget.id</a></td>
                            <td>
                                @widget.twitterAccount
                            </td>
                            <td>
                                @widget.url
                            </td>
                        </tr>
                    
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + widgets.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            