@(gameForm: Form[Game])(team1: Team)(team2: Team)(teams: Seq[(String, String)])(competitions: Seq[(String, String)])

@import helper._
@import views.html.admin.main

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
  <h1>Update Game</h1>
    
    @form(routes.Games.updateGame(team1.id.get, team2.id.get)) {
        
        <fieldset>

            @select(
                gameForm("team1Id"), 
                teams, 
                '_label -> "Home Team", '_default -> "-- Choose a team --",
                '_showConstraints -> false
            )
            @select(
                gameForm("team2Id"), 
                teams, 
                '_label -> "Away Team", '_default -> "-- Choose a team --",
                '_showConstraints -> false
            )
            @select(
                gameForm("competitionId"), 
                competitions, 
                '_label -> "Away Team", '_default -> "-- Choose a competition --",
                '_showConstraints -> false
            )
            
          @inputText(gameForm("time"), '_label -> "Time (00:00)")
          @inputText(gameForm("gameDate"), '_label -> "Date YYYY-MM-DD")
          @inputText(gameForm("widgetId"), '_label -> "Widget Id")
          @inputText(gameForm("pos"), '_label -> "Position on day (1=first game etc.)")
          @inputText(gameForm("hashtag"), '_label -> "Hashtag")
           
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this game" class="btn primary"> or 
            <a href="@routes.Games.gameList(0, 2)" class="btn">Cancel</a> 
        </div>
        
    }

    @form(routes.Games.deleteGame(team1.id.get, team2.id.get), 'class -> "topRight") {
        <input type="submit" value="Delete this game" class="btn danger">
    }
}