@(widgetForm: Form[Widget])

@import helper._
@import views.html.admin.main

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
  <h1>Create Widget</h1>
    
    @form(routes.Widgets.saveWidget) {
        
        <fieldset>
            @inputText(widgetForm("id"), '_label -> "id")
            @inputText(widgetForm("twitterAccount"), '_label -> "Twitter account")
            @inputText(widgetForm("url"), '_label -> "url")
            
           
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this widget" class="btn primary"> or 
            <a href="@routes.Widgets.widgetList(0, 2, "")" class="btn">Cancel</a> 
        </div>
        
    }
}