@(id: Int)(teamForm: Form[TeamMembers])(categories: Seq[(String, String)])(teamMembers: Seq[Member])(allOtherMembers: Seq[Member])(videoPlayers: Seq[(String, String)])

@import helper._
@import views.html.admin.main

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
  <h1>Edit Team</h1>

    
    @form(action = routes.Teams.updateTeam(id), 'onsubmit -> "selectAllOptions('members');") {
        
        <fieldset>
        
            @inputText(teamForm("team")("name"), '_label -> "Team name")
            @inputText(teamForm("team")("twitterName"), '_label -> "Twitter Name")
            @inputText(teamForm("team")("vidChannel"), '_label -> "Channel Name")
            @select(
                teamForm("team")("videoPlayer"), 
                videoPlayers, 
                '_label -> "Video Player", '_default -> "-- Choose a Video Player --",
                '_showConstraints -> false
            )
            @select(
                teamForm("team")("categoryId"), 
                categories, 
                '_label -> "Category", '_default -> "-- Choose a category --",
                '_showConstraints -> false
            )
            @inputText(teamForm("team")("widgetId"), '_label -> "Widget")
            @inputText(teamForm("team")("hashtag"), '_label -> "Hashtag")
           
        
        </fieldset>
      
        <table>
          <tr>
            <td>
              <select multiple size="50" name="newMembers" style="width:150">
                @allOtherMembers.sortWith((a,b) => a.name.compareTo(b.name) < 0).map { member =>
                	<option value="@member.id">@member.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newMembers,this.form.members)" value="->"><br/>
              <input type="button" onClick="move(this.form.members,this.form.newMembers)" value="<-">
            </td>
            <td>
              <select multiple="multiple" size="50" id="members" name="members[]" style="width:150">
                @teamMembers.sortWith((a,b) => a.name.compareTo(b.name) < 0).map { member =>
                  <option value="@member.id">@member.name</option>
                }
              </select>
            </td>
          </tr>
        </table>
        
        <div class="actions">
            <input type="submit" value="Save this team" class="btn primary"> or 
            <a href="@routes.Teams.teamList(0, 2, "")" class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Teams.deleteTeam(id), 'class -> "topRight") {
        <input type="submit" value="Delete this team" class="btn danger">
    }
  
}