@()

@main("Follow Rugby"){
 <div class="row">
  <div class="span8">
    <div class="textpadding">
    <p class="lead">Follow Rugby has been designed to make it easier for anyone interested in rugby to follow its key developments on Twitter.</p>

    <p>Rugby Twitter profiles have been organised into relevant groupings - please browse and interact as you would normally on Twitter: follow, mention, reply, re-tweet, favorite etc!</p>

    <p>The Match Centre shows the Twitter feeds of both teams that are participating in matches from leading global rugby competitions. This allows you to see the perspective of both sides during a match. There is also a third feed for the match #hashtag – please join in the match conversation. The Match Centre will be updated before each round of major matches and is a great way to follow the action and keep up with live scores on the internet.</p>
    
    <p>To help the site develop please follow <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> and suggest new Rugby Twitter accounts for us to add to the site. For longer comments and enquiries, please send an e-mail to <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a>.</p>

    <br>
    <div class="span3"></div><div class="span2"><img src="@routes.Assets.at("images/logo1.png")"></img></div><div class="span3"></div>
     </div>
    </div>

  <div class="span4"> 
  
    <div class="widget-frame"><a class="twitter-timeline" href="https://twitter.com/FollowRugbySite" data-widget-id="320940036453449730"></a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
  </div>
   </div>   


}