@(category: Category)(teams: Seq[models.Team])(team: Option[models.Team])(players: Seq[models.Member])(media: Media)

@import models.Linker._
@import models.VideoPlayer

@height(t: Option[Team]) = @{
    if(t.isDefined && t.get.vidChannel.isDefined) {300} else {600}
   }

@main("Follow Rugby", OpenGraph.default){
  
  <script>
@media.videoPlayerChannel.map { v =>
(function() {
    function createPlayer(jqe, video, options) {
        var ifr = $('iframe', jqe);
        if (ifr.length === 0) {
            ifr = $('<iframe scrolling="no">');
            ifr.addClass('player');
        }
        var src = 'http://www.youtube.com/embed/' + video.id;
        if (options.playopts) {
            src += '?';
            for (var k in options.playopts) {
                src+= k + '=' + options.playopts[k] + '&';
            }  
            src += '_a=b';
        }
        ifr.attr('src', src);
        jqe.append(ifr);  
    }
    
    function createCarousel(jqe, videos, options) {
        var car = $('div.carousel', jqe);
        if (car.length === 0) {
            car = $('<div>');
            car.addClass('carousel');
            jqe.append(car);
            
        }
        $.each(videos, function(i,video) {
            options.thumbnail(car, video, options); 
        });
    }
    
    function createThumbnail(jqe, video, options) {
        var imgurl = video.thumbnails[0].url;
        var img = $('img[src="' + imgurl + '"]');
        if (img.length !== 0) return;
        img = $('<img>');    
        img.addClass('thumbnail');
        jqe.append(img);
        img.attr('src', imgurl);
        img.attr('title', video.title);
        img.click(function() {
            options.player(options.maindiv, video, $.extend(true,{},options,{playopts:{autoplay:1}}));
        });
    }
    
    var defoptions = {
        autoplay: false,
        user: null,
        carousel: createCarousel,
        player: createPlayer,
        thumbnail: createThumbnail,
        loaded: function() {},
        playopts: {
            autoplay: 0,
            egm: 1,
            autohide: 1,
            fs: 1,
            showinfo: 0
        }
    };
    
    
    $.fn.extend({
        youTubeChannel: function(options) {
            var md = $(this);
            md.addClass('youtube');
            md.addClass('youtube-channel');
            var allopts = $.extend(true, {}, defoptions, options);
            allopts.maindiv = md;
            $.getJSON('http://gdata.youtube.com/feeds/users/' + allopts.user + '/uploads?alt=json-in-script&format=5&callback=?', null, function(data) {
                var feed = data.feed;
                var videos = [];
                $.each(feed.entry, function(i, entry) {
                    var video = {
                        title: entry.title.$t,
                        id: entry.id.$t.match('[^/]*$'),
                        thumbnails: entry.media$group.media$thumbnail
                    };
                    videos.push(video);
                });
                allopts.allvideos = videos;
                allopts.carousel(md, videos, allopts);
                allopts.player(md, videos[0], allopts);
                allopts.loaded(videos, allopts);
            });
        } 
    });
    
})();

        
$(function() {
    $('#channelplayer').youTubeChannel({user:'@v.channel'});
});

}

</script>

	 <div class="row">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
      <li class="nav-header">@category.name</li>
      <li class="divider"></li>
      @teams.sortBy(_.name).map { team =>
        <li><a href="@routes.Application.selectTeam(category.id.get, team.id.get, link(category.name), link(team.name))">@team.name</a></li>
        }
      </ul>
      <br></br>
      <p><small>Suggest further Twitter profiles by tweeting <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a></small></p>
      
    </div>
  </div>
  <div class="span5">
  <div class="topmargin"></div> 
  @if(players.isEmpty) {
    <p class="lead">Click on your favourite groups on the left to see who to follow. Also check out their tweets and videos.</p>
  } else {
  @team.map { t =>
    
  	
  	@t.twitterName.map { twitter =>
  	  <h2>@t.name</h2>
        <table>
         <tr>
          <td><img src="@routes.Assets.at("images/twitter-bird-blue-on-white.png")" height="40" width="40"></img></td>    
          <td>
            <h3>
              <a href="https://www.twitter.com/intent/user?screen_name=@{twitter}">@@@twitter</a> 
            </h3>
          </td>   
         </tr>
        </table>
  	
  	}
  }
  
  
  <table class="table table-bordered table-condensed">
  
  <tbody>
  @players.sortBy(_.name).map { player:Member => 
    <tr>
       <td> @player.name </td>
       <td> 
          <a href="https://www.twitter.com/intent/user?screen_name=@{player.twitterName}">@@@player.twitterName</a> 
       
       </td>
    </tr>  
    }
    
  </tbody>
  
  </table>
  }
  </div>

  <div class="span4">
  <div class="topmargin"></div> 
  <span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span>



  
  
  @media.listWidget.map { list =>
    <div class="widget-frame"><a class="twitter-timeline" height="@height(team)" href="https://twitter.com/@{list.twitterAccount}/@{list.url}" data-widget-id="@list.id"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  }
  
@media.searchWidget.map { w =>    
        <div class="widget-frame"><a class="twitter-timeline" height="@height(team)" href="https://twitter.com/search?@{w.url}" data-widget-id="@w.id"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
     }
 
@media.videoPlayerChannel.map { v => 
  @if(v.player.name.toLowerCase == "youtube") {   

  <h5>Latest Team Videos</h5>
  
     <div id="channelplayer">
        </div>
   } else {
     <div style="text-align: right;"><iframe id="dm_jukebox_iframe" style="overflow:hidden; margin:0; padding:0; width: 100%; height: 300px;" width="100%" align="center" frameborder="0" marginwidth="0" marginheight="0" src="http://www.dailymotion.com/widget/jukebox?list[]=%2Fuser%2F@{v.channel}%2F1&skin=default&autoplay=0&automute=0"></iframe><a style="font-size: 10px; color: #193D5E; text-decoration: none;" href="http://www.dailymotion.com" target="_blank" title="Powered by Dailymotion"></a></div>
   }
  }
  </div>
  </div>
}
    
      


