@()

@main("Follow Rugby", OpenGraph.default){
 <div class="row">
  <div class="span8">
    <p>We will set up a full tour page for the British and Irish Lions as soon as the squad has been announced.</p>
    
    <p>Please contact <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> and help us build more pages by suggesting Twitter account details for teams and players in the below categories:</p>
    <ul>
      <li>Women’s rugby – grouped into national teams.</li>
      <li>IRB Sevens – grouped into national teams.</li>
      <li>The RFU Championship.</li>
      <li>Pro D2 France.</li>
      <li>We also plan to restructure the Japan rugby section into the Japan Top League and other professional teams.</li>
    </ul>

    <p>If you know of multiple accounts for any of the above sections please contact us using the following e-mail address <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a>.</p>
    <br></br>
   
    <div class="span3"></div><div class="span2"><img src="@routes.Assets.at("images/logo1.png")"></img></div><div class="span3"></div>
  </div>
  

  <div class="span4"> 
  
    <div class="widget-frame"><a class="twitter-timeline" href="https://twitter.com/search?q=%23FollowRugby" data-widget-id="321604771222011904">Tweets about "#rugby"</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
  </div>
  </div>    


}