@(lionsCompPlayers: Seq[LionsCompPlayer])(lionsCompSelectedPlayers: Seq[LionsCompPlayer])(lionsCompForm: Form[LionsCompTeam])(loadCompForm: Form[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Follow Rugby"){
	<!-- Modal -->
<div id="modalRules" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalRulesLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalRulesLabel">Competition Rules</h3>
  </div>

  <div class="modal-body">
<p>To enter:</p>
<ul>
    <li>Select the players that you believe will be announced by Warren Gatland at the official tour party launch in London on April 30th.</li>
<li>When you are 100% happy with your squad, enter your full name, a password, contact number and e-mail address - finally click "Enter Competition".</li> 
<li>The squad is likely to consist of 37 names so we have capped the competition at this total. You will only be able to submit your squad by clicking "Enter Competition" if you have selected 37 players.</li> 
<li>Up to the competition deadline you can change your entry by clicking "Load Saved Squad" and entering your e-mail address and password into the login box.</li>
<li>Maximum of one entry per person and e-mail address.</li>
<li>There are no limits on how many players can be selected from each position, as we will not know the squad configuration until Warren Gatland announces the final touring party (and it does not matter what position a player appears in as entrants are simply guessing if the player is going to be on the plane to Australia, via Hong Kong).</li>
<li>All entries must be in by April 25th 10pm BST, so 5 days before the squad announcement. This is to avoid Lions press leak competition sabotage!</li>
  </ul>  


<p>Scoring:</p>


<ul>
<li>1 point for each correct player.</li>
<li>The two entrants with the most points will each win an official Adidas British and Irish 2013 Lions shirt. In the event of a tie on the winning score(s) there will be a draw to decide who wins the official prizes.</li>
</ul> 
 </div>
  <div class="modal-footer">
    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
	
	
  <div class="row">
  <div class="span12">

@lionsCompForm.globalError.map { error =>
  <div class="alert alert-error">@error.message</div>
}
  <div class="row">
    <div class="span8"></div><div class="span4"><span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span></div></div>
    <h2 class="text-center">British and Irish Lions 2013 Squad Competition</h2>
    <br></br>
    <p class="lead">To celebrate the launch of www.Follow-Rugby.com we have created a competition to end the greatest rugby debate of the year. Which players will be chosen to tour Australia with the 2013 British and Irish Lions?</p>

    <p>We have compiled an extensive list of possible tourists for you to choose from. If you want to include a player not listed please contact <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> and we will add the player as an option.</p>
    
    <p>Select the <strong>37</strong> players that you believe will be announced by Warren Gatland at the official tour party launch in London on April 30th. Make sure you've entered your contact details and then finally click "Enter Competition". <a href="#modalRules" data-toggle="modal">Detailed rules here</a></p>

    <p>The two entrants with the most correct picks will each receive an <strong>official Adidas British and Irish 2013 Lions shirt!</strong></p>
    
  <br></br>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Load a saved squad...</h3>
  </div>
@form(action = routes.Application.loadCompetition) {
  <div class="modal-body">
    <p>If you have already entered the competition, you can amend your picks by entering your details here.</p>
    @helper.inputText(loadCompForm("email"), '_label -> "E-mail")
    
    @helper.inputPassword(loadCompForm("password"), '_label -> "Password")
  </div>
  <div class="modal-footer">
    
    <input type="submit" value="Load Saved" class="btn primary"> 
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>

              } 


</div>
	
	







    <br/>
 @form(action = routes.Application.enterCompetition, 'onsubmit -> "return validateForm();") {
    
	   <div class="row">
       <div class="span5">
               <!-- Button to trigger modal -->
               <a href="#myModal" role="button" class="btn" data-toggle="modal">Load Saved Squad</a>
               <br></br>
               <fieldset>
                @inputText(lionsCompForm("name"), '_label -> "Full Name")
                @inputText(lionsCompForm("email"), '_label -> "E-mail")
                @inputPassword(loadCompForm("password"), '_label -> "Password")
                @inputText(lionsCompForm("phone"), '_label -> "Phone No")
                </fieldset>
                
       </div>
       <div class="span5"><img src="@routes.Assets.at("images/LionsShirt295.jpg")"></img></div>
     </div>
	 
      <div class="row">
       <div class="span6"><h3>Props</h3></div>
       <div class="span6"><h3>Hookers</h3></div>
     </div>

	
   <table>
       <thead>
       <tr>
      <th>Choose from...</th>
     <th></th>
      <th>Final Team Props</th>
     <th>Choose from...</th>
     <th></th>
      <th>Final Team Hookers</th>
    </tr>
  </thead>
  <tbody>
          <tr>
            <td>
              <select multiple size="8" name="newProps" style="width:100">
                @lionsCompPlayers.filter(_.position == "Prop").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newProps,this.form.props,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.props,this.form.newProps,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="props" name="props[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Prop").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          
            <td>
              <select multiple size="8" name="newHookers" style="width:100">
                @lionsCompPlayers.filter(_.position == "Hooker").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newHookers,this.form.hookers,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.hookers,this.form.newHookers,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="hookers" name="hookers[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Hooker").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          </tr>
          </tbody>    
        </table>

      <div class="row">
       <div class="span6"><h3>Locks</h3></div>
       <div class="span6"><h3>Back Row</h3></div>
     </div>

  
   <table>
       <thead>
       <tr>
      <th>Choose from...</th>
     <th></th>
      <th>Final Team Locks</th>
     <th>Choose from...</th>
     <th></th>
      <th>Final Team Back Row</th>
    </tr>
  </thead>
  <tbody>
           <tr>
            <td>
              <select multiple size="8" name="newLocks" style="width:100">
                @lionsCompPlayers.filter(_.position == "Lock").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newLocks,this.form.locks,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.locks,this.form.newLocks,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="locks" name="locks[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Lock").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          
            <td>
              <select multiple size="8" name="newBackRows" style="width:100">
                @lionsCompPlayers.filter(_.position == "Back Row").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newBackRows,this.form.backRows,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.backRows,this.form.newBackRows,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="backRows" name="backRows[]" style="width:100">
                @lionsCompSelectedPlayers.filter(_.position == "Back Row").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          </tr>
</tbody>    
        </table>

      <div class="row">
       <div class="span6"><h3>Scrum-Halves</h3></div>
       <div class="span6"><h3>Fly-Halves</h3></div>
     </div>

  
   <table>
       <thead>
       <tr>
      <th>Choose from...</th>
     <th></th>
      <th>Final Team Scrum-Halves</th>
     <th>Choose from...</th>
     <th></th>
      <th>Final Team Fly-Halves</th>
    </tr>
  </thead>
  <tbody>
                <tr>
            <td>
              <select multiple size="8" name="newScrumHalfs" style="width:100">
                @lionsCompPlayers.filter(_.position == "Scrum Half").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newScrumHalfs,this.form.scrumHalfs,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.scrumHalfs,this.form.newScrumHalfs,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="scrumHalfs" name="scrumHalfs[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Scrum Half").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td>
              <select multiple size="8" name="newFlyHalfs" style="width:100">
                @lionsCompPlayers.filter(_.position == "Fly Half").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newFlyHalfs,this.form.flyHalfs,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.flyHalfs,this.form.newFlyHalfs,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="flyHalfs" name="flyHalfs[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Fly Half").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          </tr>
                </tbody>    
        </table>

      <div class="row">
       <div class="span6"><h3>Centres</h3></div>
       <div class="span6"><h3>Wings</h3></div>
     </div>

   
   <table>
       <thead>
       <tr>
      <th>Choose from...</th>
     <th></th>
      <th>Final Team Centres</th>
     <th>Choose from...</th>
     <th></th>
      <th>Final Team Wings</th>
    </tr>
  </thead>
  <tbody>
                <tr>
            <td>
              <select multiple size="8" name="newCentres" style="width:100">
                @lionsCompPlayers.filter(_.position == "Centre").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newCentres,this.form.centres,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.centres,this.form.newCentres,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="centres" name="centres[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Centre").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td>
              <select multiple size="8" name="newWings" style="width:100">
                @lionsCompPlayers.filter(_.position == "Wing").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newWings,this.form.wings,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.wings,this.form.newWings,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="wings" name="wings[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Wing").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          </tr>
</tbody>    
        </table>

     

  <div class="row">
       <div class="span6"><h3>Full Backs</h3>
     
   <table>
       <thead>
       <tr>
      <th>Choose from...</th>
     <th></th>
      <th>Final Team Full Backs</th>
    
    </tr>
  </thead>
  <tbody>
                <tr>
            <td>
              <select multiple size="8" name="newFullBacks" style="width:100">
                @lionsCompPlayers.filter(_.position == "Full Back").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
            <td align="center" valign="middle">
              <input type="button" onClick="move(this.form.newFullBacks,this.form.fullBacks,true)" value=">"><br/>
              <input type="button" onClick="move(this.form.fullBacks,this.form.newFullBacks,false)" value="<">
            </td>
            <td>
              <select multiple="multiple" size="8" id="fullBacks" name="fullBacks[]" style="width:100">
               @lionsCompSelectedPlayers.filter(_.position == "Full Back").sortWith((a,b) => a.name.compareTo(b.name) < 0).map { player =>
                  <option value="@player.id">@player.name</option>
                }
              </select>
            </td>
          </tr>
          </tbody>    
        </table></div><div class="span1"></div><div class="span5">
</br></br>
                <table><tr><td><h1 id="counter">@lionsCompSelectedPlayers.size</h1></td><td></td></tr></table>
                 <p>players selected</p></div>
  </div>
  <div class="row">
    <div class="span3"></div>
      <div class="span6">
<p class="text-warning text-center">IMPORTANT: When you are updating a squad that you have already saved, after you have clicked “Load Saved Squad”, you must re-enter your password in the contact form before you save the changes (by clicking “Enter Competition”). If you forget to do this your new squad will not save and you will have to reload your old one again. If it is your first time entering make sure all fields are correctly filled.</p>
   </div>
      <div class="span3"></div>
               
   </div   
     <br></br>
      <div class="row"> 
    <div class="span5"></div><div class="span5">
               <div class="actions">
            <input type="submit" value="Enter Competition" class="btn primary"> 
        </div></div>
  </div>






 
        
    }

  </div>
  
 
  
 </div>   

<br></br>


<!-- Modal -->
<div id="modalTerms" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalTermsLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalRulesLabel">Terms and Conditions</h3>
  </div>

  <div class="modal-body">
    
<ul>
<li><p>Competition start date and time: 10 April 2013, 12am UK (BST).</p></li>
               <li><p>Competition close date and time: 25 April 2013 10pm UK (BST).</p></li>
               <li><p>Maximum of one entry per person and e-mail address.</p></li>
               <li><p>No purchase required – the competition is free to enter.</p></li>
               <li><p>The two entrants with the highest points totals will each win a prize. However, in the event of a tie winners will be chosen at random from the relevant tied score(s).</p></li>
               <li><p>Winners will be contacted via e-mail (or phone if they do not respond to our initial e-mail). If they do not respond within 5 days from when the initial e-mail is sent, the entrant(s) with the next highest score will win the prize(s) (or a draw will take place in the event of a tie).</p></li>
               <li><p>Entrants agree for their names, but no contact information, to be included in an e-mail to all participants, and in a Tweet by <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> to congratulate their competition win. These will be sent on 01 May 2013 after 12pm UK (BST) - the day after the official Lions squad announcement.</p></li>
               <li><p>Entrants from any country are welcome to participate.</p></li>
               <li><p>Prizes consist of two official Adidas British and Irish Lions 2013 shirts, only.</p></li>
               <li><p>Shirt sizes to be confirmed by the two competition winners, when they are notified of their win.</p></li>
               <li><p>Prizes will be sent to addresses confirmed by the two competition winners, when they are notified of their win.</p></li>
               <li><p>Prizes are not exchangeable for a cash alternative.</p></li>
               <li><p> www.Follow-Rugby.com is compliant with the data protection act. Our policy is such that we will not pass on your details to any third party without your prior consent.</p></li>
               <li><p>We reserve the right to amend the competition at any time.</p></li> 
               <li><p>The judges’ decision will be final, and no correspondence will be entered into.</p></li>
</ul>
<p><small>Please contact <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a> if you have any questions regarding the competition. We will respond as soon as possible. </small></p>
    
  </div>
  <div class="modal-footer">
    
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<div class="row"><p class="text-center"><small><a href="#modalTerms" data-toggle="modal">Terms and Conditions</a></p></small><div class="span12">


</div></div>        
              
}