@(lionsCompPlayers: Seq[LionsCompPlayer])(lionsCompSelectedPlayers: Seq[LionsCompPlayer])(lionsCompForm: Form[LionsCompTeam])(loadCompForm: Form[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Follow Rugby"){
	
	
	
  <div class="row">
  <div class="span12">

  <div class="row">
    <div class="span8"></div><div class="span4"><span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span></div></div>
    <h2 class="text-center">British and Irish Lions 2013 Squad Competition</h2>
    <br></br>
    <p class="lead">The competition has now closed, the winners of the 2 <strong>official Adidas British and Irish 2013 Lions shirts</strong> will be notified next week after the squad announcement.</p>
    
  <br></br>
 </div>
              
}