@(currentPage: Page[Video], currentFilter: String, videoCategory: VideoCategory, competitions: Seq[(String, String)], competitionForm: Form[Int], competitionId: Int)

@import helper._
@import java.text.SimpleDateFormat
@import java.util.Date

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int) = @{
    routes.Application.selectVideoCategory(videoCategory.id.get, Linker.strip(videoCategory.name), newPage, currentFilter, competitionId)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(title: String) = {
    <th>
        <a href="@link(0)">@title</a>
    </th>
}

@formatDate(date: Date) = @{
  val sdf = new SimpleDateFormat("EEE d MMM yyyy")
  sdf.format(date)
}

@main("Follow Rugby", OpenGraph.default){
      <div class="row">
          @form(action = routes.Application.selectVideoCategory(2, Linker.strip("Highlights")), '_onchange -> "this.form.submit()") {
            <div class="col-sm-12">
            <p class="text-center">
                  <select id="compId" name="compId" >
                    <option class="blank" value="">-- Choose a competition --</option>
                    @competitions.map { case(cId, cName) =>
                    <option value="@cId" @{if(competitionId == cId.toInt) "selected"}>@cName</option>
                    }
                  </select>
                  </p>
            </div>
            <div class="col-sm-12">
                  <p class="text-center"><input type="submit" value="Go"  class="btn btn-primary input-sm"></input></p>
            </div>
          }
      </div>
      <div class="row">
      <div class="col-sm-12">
      <h2>@videoCategory.name</h2>
      <p>Tweet <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> or email <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a> any rugby videos you want on the site, especially any great amateur footage!</p>
      @Option(currentPage.items).filterNot(_.isEmpty).map { videos =>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Date added</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        @videos.map { video => 
          <tr>
            <td  width="130">@formatDate(video.date)</td>
            <td><a href="@routes.Application.selectVideo(video.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(video.title))">@video.title</a></td>
            <td>@video.description</td>
          </tr>
        }
        </tbody>
      </table>
      </div>
  </div>
      <div class="row">
  <div class="col-sm-12">
        @currentPage.prev.map { page =>
         
              <h3 class="text-center"><a href="@link(page)">PREVIOUS</a></h3>
         
        }.getOrElse {
         
        }
        @currentPage.next.map { page =>
          
              <h3 class="text-center"><a href="@link(page)">NEXT</a></h3>
          
        }.getOrElse {
          
        }
    </div>
  </div>
    }.getOrElse {
      <div class="well">
          <em>Nothing to display</em>
      </div>
    }
    
}