@(videos: Seq[(Video, VideoCategory, VideoPlayer)], compGames: Map[Competition, Seq[Game]])(implicit flash: play.api.mvc.Flash)

@import helper._

@main("Follow Rugby"){
  <div class="row">
  <div class="span3">
   @videoReel(videos)
  </div>
  <div class="span9">
    <div class="row">
      <h4>This week's games:</h4>
    </div>
      @compGames.toList.map { case (comp, games) =>
        <div class="row"> 
          <h5>@comp.name</h5>
        </div>
          @games.sliding(8,8).map { gs =>
        <div class="row">     
              @gs.map { g =>
            <div class="span1"><h5 class="muted"><i><a href="@routes.Application.matchCentre(g.competitionId, comp.name)">#@g.hashtag</a></i></h3></div> 
          }  
        </div>
        }     
      }
    
  </div>
  </div>
 
    


}