@(videos: Seq[(Video, VideoCategory, VideoPlayer, VideoHtml)], compGames: Map[Competition, Seq[Game]], latestMembers: Seq[(Member, Team, Category)])(implicit flash: play.api.mvc.Flash)
@import java.text.SimpleDateFormat
@import java.util.Date
@import helper._
@import Linker._

@strDate(date: Date) = @{
  val sd = new SimpleDateFormat("dd MMMM yyyy")
  sd.format(date)
}

@main("Follow Rugby", OpenGraph.default){
  
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0&status=0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
  <div class="row">
  <div class="col-sm-4 hidden-sm hidden-xs">
      <script type='text/javascript' src='http://delivery.switchadhub.com/adserver/tag.php?_t=1790&_i=12616&_r=INSERT_RANDOM_NUMBER'>
    </script><noscript><iframe id='e3ce21' name='e3ce21' src='http://delivery.switchadhub.com/adserver/tag.php?_t=279c&_i=12616&_r=INSERT_RANDOM_NUMBER' frameborder='0' scrolling='no' width='300' height='250'>
    <a href='http://delivery.switchadhub.com/adserver/tag.php?_t=379d&_n=e3ce21&_i=12616&_r=INSERT_RANDOM_NUMBER' target='_blank'>
    <img src='http://delivery.switchadhub.com/adserver/tag.php?_t=479a&_n=e3ce21&_i=12616&_r=INSERT_RANDOM_NUMBER' border='0' alt='' /></a>
    </iframe></noscript>
  </div>
    <div class="col-sm-4">
      <br></br>
      <h1 class="text-center">Follow Rugby</h1>
      <h3 class="text-center">THE SITE for the latest Global Rugby Tweets and Videos!</h1>
      <div class="linebreak"></div>
      
    </div>
   <div class="col-sm-4">
      <script type='text/javascript' src='http://delivery.switchadhub.com/adserver/tag.php?_t=1790&_i=12616&_r=INSERT_RANDOM_NUMBER'>
    </script><noscript><iframe id='e3ce21' name='e3ce21' src='http://delivery.switchadhub.com/adserver/tag.php?_t=279c&_i=12616&_r=INSERT_RANDOM_NUMBER' frameborder='0' scrolling='no' width='300' height='250'>
    <a href='http://delivery.switchadhub.com/adserver/tag.php?_t=379d&_n=e3ce21&_i=12616&_r=INSERT_RANDOM_NUMBER' target='_blank'>
    <img src='http://delivery.switchadhub.com/adserver/tag.php?_t=479a&_n=e3ce21&_i=12616&_r=INSERT_RANDOM_NUMBER' border='0' alt='' /></a>
    </iframe></noscript>
  </div>
  </div>
  <br></br>
   @videos.sliding(3,3).map { vids => 
  <div class="row">
    @vids.map { case (vid, videoCategory, videoPlayer, videoHtml) =>
      <div class="col-sm-4">
      <td align="center"><a href="@routes.Application.selectVideo(vid.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(vid.title))"><img height="240" width="300" src="@videoHtml.largeThumbnail"></img></a>
      <a href="@routes.Application.selectVideo(vid.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(vid.title))"><h4>@vid.title</h4></a>
      </div>
    }
  </div>
    }
  <div class="row">
    <div class="col-sm-12">
      <div class="linebreak"></div> 
      <h4>This week's games, click on the match hashtags!</h4>
      <div class="linebreak"></div> 
    </div>
  </div>
  <div class="row">
      @compGames.toList.sortBy(_._1.pos).map { case (comp, games) =>
      <div class="col-sm-3"> 
        <h5>@comp.name</h5>
        @games.groupBy(_.gameDate).toList.sortBy(_._1).map { case (date, gs) =>
           <ul class="nav nav-list">
             <li class="nav-header">@strDate(date)</li>
             <h5 class="muted"><i>@gs.sortBy(_.pos).map { g =>
             <a href="@routes.Application.matchCentre(g.competitionId, link(comp.name), g.team1Id, g.team2Id)">#@g.hashtag</a> 
                                  }</i></h5>
           </ul>
        }
      </div>     
      }
   </div>
   <div class="row">
     <div class="col-sm-12">
      @if(compGames.isEmpty) {
        <p class="muted"><i>No games scheduled this week.</i></p>  
      }
      <div class="linebreak"></div>
      <h4>Latest Twitter profiles added</h4>
      <div class="linebreak"></div>
    
      <p>
      /@latestMembers.map { case (member, team, category) =>
        /<a href="@routes.Application.selectTeam(category.id.get, team.id.get, link(category.name), link(team.name))">@member.name</a>/
      }/
      </p>
    </div>
  </div>

}
