@(title: String)(content: Html)(widgets: Html)

@import models._

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")" type="text/javascript"></script>
<script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>

   <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      .navbar {
        padding-bottom: 20px;
      }
    </style>
</head>
<body>
   <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
             	
          <ul class="nav nav-pills">
            <li><a href="@routes.Application.categories("International")">International</a></li>
            <li><a href="@routes.Application.categories("AvivaPremiership")">Aviva Premiership</a></li>
            <li><a href="@routes.Application.categories("RaboDirect")">Rabo Direct</a></li>
            <li><a href="@routes.Application.categories("Pro12")">Pro 12</a></li>
            <li><a href="@routes.Application.categories("Top14")">Top 14</a></li>
            <li><a href="@routes.Application.categories("Super15")">Super 15</a></li>
            <li><a href="@routes.Application.categories("ExPlayers")">Ex Players</a></li>
      	    <li><a href="@routes.Application.hashtags">Hashtags</a></li>
      	    <li><a href="@routes.Application.suggestions">Search</a></li>
      	    <li><a href="@routes.Application.about">About</a></li>
        	</ul>
        </div>
      </div>

    <div class="row">
      <div class="span2"></div>
      <div class="span6"><h1>Follow Rugby</h1></div>
    </div>
    <div class="row">
      
        @content
      <div class="span4">
        @widgets
      </div>
    </div>
  </div>     
</body>
</html>