@(title: String)(content: Html)

@import models._
@import Linker._

<!DOCTYPE html>

<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
<script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>

   <style type="text/css">
      body {
      }
      .navbar {
       
      }
      
      .titleimage {
      }
      
     
      
      
    </style>

<script language="javascript"> 
          function move(tbFrom, tbTo, added) 
            {
               var arrFrom = new Array(); var arrTo = new Array(); 
               var arrLU = new Array();
               var i;
               for (i = 0; i < tbTo.options.length; i++) 
               {
                arrLU[tbTo.options[i].text] = tbTo.options[i].value;
                arrTo[i] = tbTo.options[i].text;
               }
               var fLength = 0;
               var tLength = arrTo.length;
               for(i = 0; i < tbFrom.options.length; i++) 
               {
                arrLU[tbFrom.options[i].text] = tbFrom.options[i].value;
                if (tbFrom.options[i].selected && tbFrom.options[i].value != "") 
                {
                 arrTo[tLength] = tbFrom.options[i].text;
                 tLength++;
                 if(added==true) {
                   countUp();
                 } else {
                   countDown();
                 }
                }
                else 
                {
                 arrFrom[fLength] = tbFrom.options[i].text;
                 fLength++;
                }
              }
              
              tbFrom.length = 0;
              tbTo.length = 0;
              var ii;
              
              for(ii = 0; ii < arrFrom.length; ii++) 
              {
                var no = new Option();
                no.value = arrLU[arrFrom[ii]];
                no.text = arrFrom[ii];
                tbFrom[ii] = no;
              }
              
              for(ii = 0; ii < arrTo.length; ii++) 
              {
               var no = new Option();
               no.value = arrLU[arrTo[ii]];
               no.text = arrTo[ii];
               tbTo[ii] = no;
              }
              
          }
            
          function countUp() {
          	  var counter = document.getElementById("counter").innerHTML;
              counter++;
              document.getElementById("counter").innerHTML=counter;
          }
          
          function countDown() {
              var counter = document.getElementById("counter").innerHTML;
              counter--;
              document.getElementById("counter").innerHTML=counter;
          }

          function selectAllOptions(selStr)
          {
            var selObj = document.getElementById(selStr);
            for (var i=0; i<selObj.options.length; i++) {
              selObj.options[i].selected = true;
            }
          }
      </script>
</head>
<body>
   <div class="container">
<div class="row">
      <div class="span12">
        <div class="titleimage">
        <a href="@routes.Application.index"><img src="@routes.Assets.at("images/title1.png")" padding-bottom></img></a>
        </div>
      </div>
    </div>
        <div class="navbar navbar-inverse">
        <div class="navbar-inner">
        <div class="container">
             	
          <ul class="nav nav-pills">
            <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Match Centre<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        @Competition.all.sortBy(_.pos).map { comp =>
                        	<li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.matchCentre(comp.id.get, link(comp.name))">@comp.name</a></li>
                        }
                      </ul>
            </li>
            <li><a href="@routes.Application.selectCategory(1, "international")">International</a></li>
            <li class="dropdown">
                      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Club Rugby<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.selectCategory(4, "avivapremiership")">Aviva Premiership</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.selectCategory(5, "rabodirectpro12")">RaboDirect PRO 12</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.selectCategory(2, "super15")">Super 15</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.selectCategory(3, "top14")">Top 14</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.Application.selectCategory(6, "japan")">Japan</a></li>
                      </ul>
            </li>
            <li><a href="@routes.Application.selectCategory(8, "morerugby")">More Rugby</a></li>
            <li><a href="@routes.Application.competition">Competition</a></li>
      	    <li><a href="@routes.Application.about">About</a></li>
            <li><a href="@routes.Application.comingSoon">Coming Soon</a></li>
        	</ul>
        </div>
        </div>
        </div>
    
    
      
      @content
    
    
  </div>     
</body>
</html>