@()

@main("Follow Rugby", OpenGraph.default){
  
  
<div class="row">
  <div class="span12">
  <img src="@routes.Assets.at("images/ctt/banner2.jpg")"></img>
  </div>
</div>  
<div class="row">
  <div class="span12">
    <div class="textpadding">
      <h3 class="text-center">EXCLUSIVE OFFER FOR CAPE TOWN TEN'S FOR FOLLOW RUGBY</h3>
      <p class="lead">The Cape Town 10's is the world's most popular 10's tournament and the best rugby party in Africa! To see proof just take a look at the <a href="http://www.capetowntens.com/photos/" target="_blank">photos</a> and <a href="http://www.capetowntens.com/videos/" target="_blank">videos</a> from the 2013 event on their official website.</p> 
      <p>The 2014 Cape Town 10's takes place on 7th-8th of February, in just over three months time. The organisers, Sport Escapes, and Springbok legends Bobby Skinstad and Robbie Fleck, who are the event founders, are very keen for more international sides to join in the fun!</a>
      <p>If you have a group of 15 people that is interested in going to the event Follow Rugby can exclusively offer:</p>
      <ul>
        <li><strong>ONE FREE PLACE</strong> (excluding flights but this includes all transfers for the entire trip, entrance to the rugby, rugby kit, accommodation over the rugby weekend & the wine tour)</li>
        <li><strong>FREE CRATES of Castle lager</strong> for <strong>EVER MEMBER OF YOUR TOUR PARTY</strong> to help you enjoy the party during the weekend! </li>
      </ul>
      <p>For full price details of the tour packages on offer please <a href="http://issuu.com/sports-escapes/docs/10_days_trip" target="_blank">click here</a> to browse the brochure.</p>
      <p>To take advantage of this offer you simply have to mention our site <strong>www.follow-rugby.com</strong> and make a booking using the contact details below: </p>
      <p>E-mail: <a href="mailto:tens@@sportsescapes.com">tens@@sportsescapes.com</a></p>
      <p>Tel UK: +44 (0) 207 060 6747</p>
      <p>Tel SA: +27 (0) 21 7910333</p>
      <p>Needless to say if you have any questions regarding this offer or the event you can contact us at <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a> or liaise directly with <a href="mailto:tens@@sportsescapes.com">Sport Escapes</a>!</p>
      <h4 class="text-center"><em>Get rid of the winter blues and head down to Cape Town for what promises to be another fantastic rugby party at the start of 2014!</em></h4>
    </div> 
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="textpadding">
      <div class="widget-frame"><a class="twitter-timeline" href="https://twitter.com/search?q=%23CT10s" data-widget-id="393798924017729536"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
  <div class="span4 pagination-centered">
    <div class="textpadding">
    <a href="@routes.Assets.at("images/ctt/1.jpg")"><img src="@routes.Assets.at("images/ctt/1.jpg")"></src></a>
   
    <br></br>
    <a href="@routes.Assets.at("images/ctt/2.jpg")"><img src="@routes.Assets.at("images/ctt/2.jpg")"></src></a>
    
    <br></br>
    <a href="@routes.Assets.at("images/ctt/3.jpg")"><img src="@routes.Assets.at("images/ctt/3.jpg")"></src>
     </div>
  </div>
  <div class="span4">
    <div class="textpadding">
      <div class="widget-frame"><a class="twitter-timeline" href="https://twitter.com/search?q=%23CT10s" data-widget-id="393799187055116288"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
    
}