@(videos: Seq[(Video, VideoCategory, VideoPlayer, VideoHtml)])

<div class="row-yellow">
<div class="textpadding">
    <table>
    @videos.map { case (vid, videoCategory, videoPlayer, videoHtml) =>
      <tr>
        <td align="center"><a href="@routes.Application.selectVideo(vid.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(vid.title))"><h6>@vid.title</h6></a></td>
      </tr>
      <tr>
        <td align="center"><a href="@routes.Application.selectVideo(vid.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(vid.title))"><img width="128" height="72" src="@videoHtml.thumbnail"></img></a></td>
      </tr>   
    }
    </table>
</div>
</div>