@(currentPage: Page[Video], currentFilter: String, latestVideos: Seq[(Video, VideoPlayer)], videoCategory: VideoCategory)

@import helper._
@import java.text.SimpleDateFormat
@import java.util.Date

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int) = @{
    routes.Application.selectVideoCategory(videoCategory.id.get, videoCategory.name, newPage, currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(title: String) = {
    <th>
        <a href="@link(0)">@title</a>
    </th>
}
@****************************************
* Helper working out video link         *
****************************************@
@videoLink(videoPlayer: VideoPlayer, link: String) = @{
    if(videoPlayer.name.toLowerCase == "youtube"){
      "http://img.youtube.com/vi/"+link+"/2.jpg"
    } else {
      "http://www.dailymotion.com/thumbnail/video/"+link
    }
}

@formatDate(date: Date) = @{
  val sdf = new SimpleDateFormat("EEE d MMM yyyy")
  sdf.format(date)
}


@main("Follow Rugby"){
  <div class="row">
   <div class="span3">
    <div class="textpadding"><table>
    @latestVideos.map { case (vid, videoPlayer) =>
      <tr>
        <td align="center"><a href="@routes.Application.selectVideo(vid.id.get, videoCategory.name, Linker.linkVideo(vid.title))"><h6>@vid.title</h6></a></td>
      </tr>
      <tr>
        <td align="center"><img width="128" height="72" src="@videoLink(videoPlayer, vid.link)"></img></td>
      </tr>   
    }
    </table>
  </div>
  </div>
  
  <div class="span8">
    <h2>@videoCategory.name</h2>
    @Option(currentPage.items).filterNot(_.isEmpty).map { videos =>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>Date added</th>
                  <th>Title</th>
                  <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @videos.map { video => 
                        <tr>
                          <td>@formatDate(video.date)</td>
                          <td><a href="@routes.Application.selectVideo(video.id.get, videoCategory.name, Linker.linkVideo(video.title))">@video.title</a></td>
                          <td>@video.description</td>
                        </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + videos.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }
  </div>
  </div>


}