@(videos: Seq[(Video, VideoCategory, VideoPlayer)])

@****************************************
* Helper working out video link         *
****************************************@
@videoLink(videoPlayer: VideoPlayer, link: String) = @{
    if(videoPlayer.name.toLowerCase == "youtube"){
      "http://img.youtube.com/vi/"+link+"/2.jpg"
    } else {
      "http://www.dailymotion.com/thumbnail/video/"+link
    }
}

<div class="textpadding"><table>
    @videos.map { case (vid, videoCategory, videoPlayer) =>
      <tr>
        <td align="center"><a href="@routes.Application.selectVideo(vid.id.get, videoCategory.id.get, videoCategory.name, Linker.linkVideo(vid.title))"><h6>@vid.title</h6></a></td>
      </tr>
      <tr>
        <td align="center"><img width="128" height="72" src="@videoLink(videoPlayer, vid.link)"></img></td>
      </tr>   
    }
    </table>
  </div>