@(currentPage: Page[(Video, VideoPlayer, VideoHtml)], currentFilter: String, videoCategory: VideoCategory)

@import helper._
@import java.text.SimpleDateFormat
@import java.util.Date

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int) = @{
  routes.Application.selectVideoCategory(videoCategory.id.get, Linker.strip(videoCategory.name), newPage, currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(title: String) = {
  <th>
      <a href="@link(0)">@title</a>
  </th>
}

@formatDate(date: Date) = @{
  val sdf = new SimpleDateFormat("EEE d MMM yyyy")
  sdf.format(date)
}

@main("Follow Rugby", OpenGraph.default){
  <div class="row">
    <div class="col-sm-12">
      <h2>@videoCategory.name</h2>
      <p>Tweet <a href="https://www.twitter.com/intent/user?screen_name=FollowRugbySite">@@FollowRugbySite</a> or email <a href="mailto:ap@@follow-rugby.com">ap@@follow-rugby.com</a> any rugby videos you want on the site, especially any great amateur footage!</p>
    </div>
  </div>
      @Option(currentPage.items).filterNot(_.isEmpty).map { videos =>
        
      
      
        @videos.sliding(3,3).map { vids => 
          
         <div class="row">
          @vids.map { case (video, videoPlayer, videoHtml) => 
          <div class="col-sm-4">
            <a href="@routes.Application.selectVideo(video.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(video.title))"><img height="240" src="@videoHtml.largeThumbnail"></img></a>
            <a href="@routes.Application.selectVideo(video.id.get, videoCategory.id.get, Linker.strip(videoCategory.name), Linker.linkVideo(video.title))"><h4>@video.title</h4></a>
          </div>
          
        }
      </div>
        }
  <div class="row">
  <div class="col-sm-12">
        @currentPage.prev.map { page =>
         
              <h3 class="text-center"><a href="@link(page)">PREVIOUS</a></h3>
         
        }.getOrElse {
         
        }
        @currentPage.next.map { page =>
          
              <h3 class="text-center"><a href="@link(page)">NEXT</a></h3>
          
        }.getOrElse {
          
        }
    </div>
  </div>
  }.getOrElse {
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <em>Nothing to display</em>
      </div>
    </div>
  </div>
      }
   
}